<h1>{{title}}</h1>
<br />
<p>Selecione quanto tempo deseja marcar:</p>
<div>
  <h1>{{hours()}}:{{minutes()}}:{{seconds()}}</h1>
  <div class="keyboard">
    <input type="radio" id="hours" name="set_time" value="horas" (click)="handleChangeTimeToggle($event)">
    <label for="hours">Horas</label>
    <input type="radio" id="minutes" name="set_time" value="minutos" (click)="handleChangeTimeToggle($event)">
    <label for="minutes">Minutos</label>
    <input type="radio" id="seconds" name="set_time" value="segundos" (click)="handleChangeTimeToggle($event)" [defaultChecked]="true">
    <label for="seconds">Segundos</label>
    <button value="1" (click)="handleChange($event)" [disabled]="isRunning()">1</button>
    <button value="2" (click)="handleChange($event)" [disabled]="isRunning()">2</button>
    <button value="3" (click)="handleChange($event)" [disabled]="isRunning()">3</button>
    <button value="4" (click)="handleChange($event)" [disabled]="isRunning()">4</button>
    <button value="5" (click)="handleChange($event)" [disabled]="isRunning()">5</button>
    <button value="6" (click)="handleChange($event)" [disabled]="isRunning()">6</button>
    <button value="7" (click)="handleChange($event)" [disabled]="isRunning()">7</button>
    <button value="8" (click)="handleChange($event)" [disabled]="isRunning()">8</button>
    <button value="9" (click)="handleChange($event)" [disabled]="isRunning()">9</button>
    <button (click)="reset()">Limpar</button>
    <button value="0" (click)="handleChange($event)" [disabled]="isRunning()">0</button>
    <button (click)="countdown()" [disabled]="isRunning()">Começar</button>
  </div>
  <h2 [hidden]="visibility()">O tempo acabou!!!</h2>
</div>
