<h1>{{title}}</h1>
<br />
<p>Selecione quanto tempo deseja marcar:</p>
<select name="select-time" class="time-selection" (change)="handleChange($event)">
  <option value="0" [defaultSelected]="true">Selecione...</option>
  <option value="5">5 minutos</option>
  <option value="10">10 minutos</option>
  <option value="15">15 minutos</option>
  <option value="20">20 minutos</option>
  <option value="25">25 minutos</option>
  <option value="30">30 minutos</option>
  <option value="35">35 minutos</option>
  <option value="40">40 minutos</option>
  <option value="45">45 minutos</option>
  <option value="50">50 minutos</option>
  <option value="55">55 minutos</option>
  <option value="60">1 hora</option>
</select>
<div>
  <h1>{{hours()}}:{{minutes()}}:{{seconds()}}</h1>
  <button type="button" class="btn" (click)="countdown()">Começar</button>
  <h2 [hidden]="visibility()">O tempo acabou!!!</h2>
</div>
